.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #1a0e06;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 30%;
    z-index: 3;
}

.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}

.hand.second-hand {
    background: lightgreen;
    width: 45%;
    height: 2px;
}

.clock {
    background-image: url("/images/clock.png");
    background-size: cover;
    width: 30rem;
    height: 30rem;
    position: relative;
    padding: 2rem;
}